@{
  Layout = "_Layout";
}

@using PierresSales.Models;

<h1>@Model.Name</h1>

@if (Model.Orders.Count == 0)
{
  <p>This vendor has no orders</p>
  <a href="/vendors/@Model.ClientNumber/orders/new">Click Here To Add An Order</a><br>
  <a href="/vendors">Go Back To All Vendors</a>
}

<ul>
@foreach(KeyValuePair<int, Order> ord in Model.Orders)
  {
    <div class="row">
      <div class="col-6">
        <li>Order Number: @ord.Value.OrderNumber<br>
        Deliver Date:( @ord.Value.DeliverMonth / @ord.Value.DeliverDay)<br>
        Total Price: $@ord.Value.TotalCost<br>
        Fulfilled: @ord.Value.OrderFulfilled<br>
        Paid: @ord.Value.OrderPaid
          <ul>
            @foreach(KeyValuePair<string, double> item in ord.Value.OrderItems)
              {
                <li>@item.Key x @item.Value</li>
              }
          </ul>
        </li>
      </div>
      <div class="col-6">
        @if (ord.Value.OrderFulfilled == false)
        {
          <form action="/vendors/@Model.ClientNumber/orders/@ord.Value.OrderNumber" method="post">
          <button type=submit name="display" value="1">Mark Fulfilled</button>
        </form>
        }
        @if (ord.Value.OrderPaid == false)
        {
          <form action="/vendors/@Model.ClientNumber/orders/@ord.Value.OrderNumber" method="post">
          <button type=submit name="display" value="2">Mark Paid</button>
          </form>
        }        
      </div>      
    </div>
  }
</ul>

@if (Model.Orders.Count > 0)
{
  <a href="/vendors/@Model.ClientNumber/orders/new">Click here to add another order</a><br>
  <a href="/vendors">Go Back To All Vendors</a>
}






