@{
  Layout = "_Layout";
}
@using PierresSales.Models

<h2>@Model.Name 's Orders</h2>

@if (Model.Orders.Count ==0) 
{
  <h3>No Orders Listed Yet</h3>
  <a href="/vendors/@Model.ClientNumber/orders/new">Click here to add an order</a>
}

<ul>
@foreach(KeyValuePair<int, Order> ord in Model.Orders)
  {
    <li>Order Number: @ord.Value.OrderNumber ( @ord.Value.DeliverMonth / @ord.Value.DeliverDay ) Total Price: @ord.Value.TotalCost</li>
    <ul>
      @foreach(KeyValuePair<string, double> item in ord.Value.OrderItems)
        {
          <li>@item.Key x @item.Value</li>
        }
    </ul>
  }
</ul>

<a href="/vendors/@Model.ClientNumber/orders/new">Click here to add another order</a>

<a href="/vendors/@Model.ClientNumber">Go Back To Vendor Page</a>

<a href="/vendors">Go Back To All Vendors</a>
